!!!
%html
  %head
    %title
      Who Wants To Be A Millionr?!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  .header
    .new_game
      = link_to "New Game", new_game_path, remote: true

  .game
    = yield


  .questions

    #question

    #answers

